@font-face {
    font-family: 'Luxury Royale JF';
    src: url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.eot');
    src: local('Luxury Royale JF'), local('LuxuryRoyaleJF'),
        url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.woff2') format('woff2'),
        url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.woff') format('woff'),
        url('../fonts/LuxuryRoyaleJF/LuxuryRoyaleJF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_Empirial';
    src: url('../fonts/AEmpirial/AEmpirial.eot');
    src: local('a_Empirial'), local('AEmpirial'),
        url('../fonts/AEmpirial/AEmpirial.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AEmpirial/AEmpirial.woff2') format('woff2'),
        url('../fonts/AEmpirial/AEmpirial.woff') format('woff'),
        url('../fonts/AEmpirial/AEmpirial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bello Script';
    src: url('../fonts/BelloScript/Bello-Script.eot');
    src: local('Bello-Script'),
        url('../fonts/BelloScript/Bello-Script.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BelloScript/Bello-Script.woff2') format('woff2'),
        url('../fonts/BelloScript/Bello-Script.woff') format('woff'),
        url('../fonts/BelloScript/Bello-Script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.eot');
    src: local('Helvetica Neue LT Std 47 Light Condensed'), local('HelveticaNeueLTStd-LtCn'),
        url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-LtCn/HelveticaNeueLTStd-LtCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.eot');
    src: local('Helvetica Neue LT Std 37 Thin Condensed'), local('HelveticaNeueLTStd-ThCn'),
        url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-ThCn/HelveticaNeueLTStd-ThCn.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.eot');
    src: local('Helvetica Neue LT Std 57 Condensed'), local('HelveticaNeueLTStd-Cn'),
        url('../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-Cn/HelveticaNeueLTStd-Cn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot');
    src: local('Helvetica Neue LT Std 45 Light'), local('HelveticaNeueLTStd-Lt'),
        url('../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-Lt/HelveticaNeueLTStd-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.eot');
    src: local('Helvetica Neue LT Std 87 Heavy Condensed'), local('HelveticaNeueLTStd-HvCn'),
        url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-HvCn/HelveticaNeueLTStd-HvCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-BnCn/HelveticaNeueLTStd-BdCn.eot');
    src: local('Helvetica Neue LT Std 77 Bold Condensed'), local('HelveticaNeueLTStd-BdCn'),
        url('../fonts/HelveticaNeueLTStd-BnCn/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-BnCn/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-BnCn/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-BnCn/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-Th/HelveticaNeueLTStd-Th.eot');
    src: local('Helvetica Neue LT Std 35 Thin'), local('HelveticaNeueLTStd-Th'),
        url('../fonts/HelveticaNeueLTStd-Th/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-Th/HelveticaNeueLTStd-Th.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-Th/HelveticaNeueLTStd-Th.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-Th/HelveticaNeueLTStd-Th.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-BlkCn/HelveticaNeueLTStd-BlkCn.eot');
    src: local('Helvetica Neue LT Std 97 Black Condensed'), local('HelveticaNeueLTStd-BlkCn'),
        url('../fonts/HelveticaNeueLTStd-BlkCn/HelveticaNeueLTStd-BlkCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-BlkCn/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-BlkCn/HelveticaNeueLTStd-BlkCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-BlkCn/HelveticaNeueLTStd-BlkCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-UltLtCn/HelveticaNeueLTStd-UltLtCn.eot');
    src: local('Helvetica Neue LT Std 27 Ultra Light Condensed'), local('HelveticaNeueLTStd-UltLtCn'),
        url('../fonts/HelveticaNeueLTStd-UltLtCn/HelveticaNeueLTStd-UltLtCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-UltLtCn/HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-UltLtCn/HelveticaNeueLTStd-UltLtCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-UltLtCn/HelveticaNeueLTStd-UltLtCn.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Arial';
    src: url('../fonts/Arial/ArialMT.eot');
    src: local('Arial'), local('ArialMT'),
        url('../fonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialMT.woff2') format('woff2'),
        url('../fonts/Arial/ArialMT.woff') format('woff'),
        url('../fonts/Arial/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-LtIt/HelveticaNeueLTStd-LtIt.eot');
    src: local('Helvetica Neue LT Std 46 Light Italic'), local('HelveticaNeueLTStd-LtIt'),
        url('../fonts/HelveticaNeueLTStd-LtIt/HelveticaNeueLTStd-LtIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-LtIt/HelveticaNeueLTStd-LtIt.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-LtIt/HelveticaNeueLTStd-LtIt.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-LtIt/HelveticaNeueLTStd-LtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
