body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  min-width: 320px;
  // margin: auto;
  // border: 1px solid lighten(black, 60%);
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font: {
    size: 30px;
    family: "Arial", sans-serif;
  }
}

.header__usability {
  @include flex-container(center, column, center);
  margin-bottom: 12px;
}

.usability--contact {
  @include flex-container(center, row, center);
  align-items: center;
  background: #fafafa;
  color: #838383;
  @extend %header;
}

.usability--account {
  @include flex-container(space-around, row, stretch);
  background: #000000;
  color: #ffffff;
  @extend %header;

  > div {
    @include flex-container(center, row, center);
  }

  > div:nth-child(1) {
    position: relative;
    width: 24%;
    padding-top: 7px;
    padding-right: 0px;

    &:before {
      content: "$";
      position: absolute;
      left: 30px;
    }

    &:after {
      content: "";
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: #ffffff transparent transparent transparent;
      position: absolute;
      right: 25px;
      top: 45px;
    }
  }

  > div:nth-child(2) {
    width: 60.5%;
    border-left: 2px solid #444444;
    border-right: 2px solid #444444;
    padding-top: 7px;
    padding-right: 7px;

    i {
      color: grey;
      margin-right: 25px;
    margin-left: 17px;
    }
  }

  > div:nth-child(3) {
    width: 15.5%;
    position: relative;

    i {
      transform: rotateZ(90deg);
    }
  }
}

.header__navigation {
  @include flex-container(center, column, stretch);
  margin: auto 15px;

  > * {
    margin: 11px 0;
  }
}

.header--logo {
  min-height: 105px;
  @include flex-container(center, column, center);
  margin: 37px 0 35px;

  img {
    height: 88px;
  }
}

.header--basket {
  @extend %header;
  @include flex-container(center, row, stretch);
  background: #fafafa;
  color: #838383;
  border: 1px solid #d6d6d6;

  :nth-child(1) {
    @include flex-container(center, row, center);
    width: 20%;
  }

  :nth-child(2) {
    @include flex-container(center, row, center);
    width: 40%;
  }

  :nth-child(3) {
    @include flex-container(center, row, center);
    width: 24%;
  }

  :nth-child(4) {
    @include flex-container(center, row, center);
    width: 16%;
    position: relative;

    &:before {
      content: "";
      width: 3px;
      height: 28px;
      border-left: 2px solid #838383;
      position: absolute;
      left: 5px;
      top: 37px;
    }
  }
}

.header--menu {
  @include flex-container(space-around, row, stretch);
  background: #fd926d;
  color: white;
  padding: 0px 10px;

  ul {
    max-height: 96px;
    visibility: hidden;
    width: 50%;
  }
  @extend %header;


  div:first-child {
    @include flex-container(flex-start, row, center);
    width: 25%;
  }

  div:last-child {
    @include flex-container(flex-end, row, center);
  }
}

.header__slider {
  display: none;
}

.content {
  @include flex-container(center, column, center);
}

.content__header {
  @include flex-container(center, column, stretch);
  width: 100%;
}

.content__contacts {
  margin: 15px 15px;
}

.contacts--form {
  @include flex-container(center, row, stretch);
  @extend %header;

  > label {
    /* FOR DESKTOP
     font: {
       size: 12px;
       family: "Arial";
     }
     color: #6b6b6b;
    */
    display: none;
  }

  > input:nth-child(2) {
    font: {
      family: "Arial", sans-serif;
      style: italic;
      size: 30px;
    }
    border: none;
    color: #b4b4b4;
    width: 84%;
    background: #ededed;
    padding-left: 24px;
    padding-top: 7px;
  }

  > div > input {
    background: #fd926d;
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0;
  }

  > div {
    position: relative;
    width: 16%;
    border-bottom: 7px solid #dd6b44;

    &:after {
      content: "";
      width: 37px;
      height: 11px;
      background: white;
      position: absolute;
      left: 33px;
      top: 43px;
    }

    &:before {
      content: "";
      width: 11px;
      height: 37px;
      background: white;
      position: absolute;
      left: 45px;
      top: 29px;
      z-index: 1;
    }
  }
}

.contacts--smm {
  @include flex-container(center, row, stretch);
  @extend %header;
  margin: 22px 0 6px;

  > h2 {
    @include flex-container(flex-start, row, center);
    width: 29%;
    margin-left: -7px;
    font: {
      family: "Arial", sans-serif;
      size: 26px;
    }
    color: #6c6c6c;
    text-transform: none;
  }

  > div {
    margin: 4px 0;
    @include flex-container(space-between, row, stretch);
    color: #6b6b6b;
    width: 44%;

    >i:nth-child(1) {
        background: #f7f7f7;
        @include flex-container(center, row, center);
        width: 33.3%;
      }

    >i:nth-child(2) {
        background: #ededed;
        @include flex-container(center, row, center);
        width: 33.3%;
      }

    >i:nth-child(3) {
        background: #f7f7f7;
        @include flex-container(center, row, center);
        width: 33.3%;
      }
  }
}

.content__main {
  @include flex-container(stretch, column, center);
  width: 100%;
}

.main__slider {
  @include flex-container(center, column, center);
  background: $light-peach;
  width: 100%;

  > nav {
    @include flex-container(flex-start, row, center);
    background-color: #f4845d;
    width: 100%;
    min-height: 89px;
    position: relative;
    padding: 0 13px;

    > div {
      display: none;
    }

    ul {
      margin: auto 15px;

      a:not(:first-child) {
        display: none;
      }

      a {
        @extend %header;
        text-decoration: none;
        font: {
          family: "Arial", sans-serif;
          size: 30px;
        }
        color: white;
      }
    }

    &:after {
      content: "";
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: white transparent transparent transparent;
      position: absolute;
      right: 30px;
    }
  }
}

.slider__block1 {
  @include flex-container;
  background: #fd926d;
  width: 100%;

  > figure:not(:first-child):not(:last-child) {
    display: none;
  }

  figure {
    @include flex-container(center, column);
    background: white;
    margin: 33px 16px 0;

    figcaption {
      @include flex-container(space-around, column, center);
      min-height: 160px;
      color: #373737;
      background: #f7f7f7;
      text-transform: uppercase;
      padding-bottom: 10px;

      > :first-child {
        font: {
          family: "Arial", sans-serif;
          size: 18px;
        }
      }

      > :nth-child(2) {
        font: {
          family: "Arial", sans-serif;
          size: 27.5px;
        }
      }

      > div {
        @include flex-container(center, row, center);
        align-self: center;
        width: 80%;
        height: 66px;
        background: $light-peach;
        border-bottom: 7px solid #dd6b44;
        padding-left: 10px;
        padding-top: 8px;
        font: {
          family: "Helvetica Neue LT Std", sans-serif;
          size: 20px;
          weight: 300;
        }
        text-transform: uppercase;
        color: white;

        i {
          margin-left: 23px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.slider__block2,
.slider__block3,
.slider_block4 {
  display: none;
}

.slider--more {
  min-height: 117px;
  width: 100%;
  background: $light-peach;
  @include flex-container(center, row, center);

  p {
    @include flex-container(center, row, center);
    background: black;
    min-height: 60px;
    width: 34.5%;
    padding-top: 3px;
    padding-right: 5px;
    font: {
      family: "Helvetica Neue LT Std", sans-serif;
      size: 20px;
      weight: 300;
    }
    text-transform: uppercase;
    color: white;
  }
}

.main__stock {
  @include flex-container(center, column, center);
  width: 100%;

  > figure {
    @include flex-container(center, row, center);
    position: relative;
    width: 100%;
    margin-top: 25px;

    figcaption {
      @include flex-container(center, row, center);
      position: absolute;
      height: 65%;
      font: {
        family: "a_Empirial", sans-serif;
        size: 36px;
        weight: 100;
      }
      color: white;

      h2{
        @include flex-container(center, row, center);
        width: 100%;
      }
      div {
        @include flex-container(center, column, flex-start);
      }

      > p:nth-child(2) {
        font: {
          family: "a_Empirial", sans-serif;
          size: 81px;
        }
      }
    }

    &:after {
      content: "";
      width: 35%;
      height: 1px;
      background: #d8d8d8;
      position: absolute;
      right: 0;
    }

    &:before {
      content: "";
      width: 35%;
      height: 1px;
      background: #d8d8d8;
      position: absolute;
      left: 0;
    }
  }
}

.stock--slider {
  @include flex-container(center, row, center);

  figure:not(:nth-child(1)):not(:nth-child(2)) {
    display: none;
  }

  figure {
    @include flex-container(center, column, center);
    margin: -4px 16px;

    figcaption {
      @include flex-container(space-around, column, center);
      min-height: 160px;
      color: #373737;
      background: #f7f7f7;
      text-transform: uppercase;
      padding-bottom: 10px;
      padding-top: 4px;
      width: 100%;

      > :first-child {
        font: {
          family: "Arial", sans-serif;
          size: 18px;
        }
      }

      > :nth-child(2) {
        font: {
          family: "Arial", sans-serif;
          size: 27.5px;
        }
      }

      > div {
        @include flex-container(center, row, center);
        align-self: center;
        width: 80%;
        height: 66px;
        background: $light-peach;
        border-bottom: 7px solid #dd6b44;
        padding-left: 10px;
        padding-top: 8px;
        font: {
          family: "Helvetica Neue LT Std", sans-serif;
          size: 20px;
          weight: 300;
        }
        text-transform: uppercase;
        color: white;

        i {
          margin-left: 23px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

.stock--more {
  min-height: 120px;
  width: 100%;
  @include flex-container(center, row, center);

  p {
    @include flex-container(center, row, center);
    background: black;
    min-height: 60px;
    width: 34.5%;
    padding-top: 10px;
    padding-right: 5px;
    font: {
      family: "Helvetica Neue LT Std", sans-serif;
      size: 20px;
      weight: 300;
    }
    text-transform: uppercase;
    color: white;
  }
}

.footer {
  @include flex-container(center, column, center);
  padding: 0 15px;
  background: black;
  margin-top: 8px;
}

.content__footer,
.footer__accept,
.footer__menu {
  display: none;
}

.footer__links {
  @include flex-container(center, column, flex-end);
  width: 100%;
  min-height: 108px;
  padding: 0 15px;
  position: relative;

  > i {
    align-self: flex-start;
    color: white;
    position: absolute;
  }

  > div:first-child {
    display: none;
  }

  > div:last-child {
    @include flex-container(space-around, column, flex-end);
    min-height: 60px;

    color: #8d8d8d;
    font: {
      family: "Arial", sans-serif;
      size: 24px;
    }

    a {
      color: #8d8d8d;
      text-decoration: none;
    }
  }
}
